@import "../../common/color.css";
@value font-small from "../../common/size.css";

.nav {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 0.15em;
  font-size: font-small;
  color: var(--clr-themeIcon);
}

.wrapper {
  display: flex;
  align-items: center;
}

.switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 40px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 400ms;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: 400ms;
  width: 16px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
