@import "../../common/color.css";
@value font-normal, timer-hover, border-radius from "../../common/size.css";

.form {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-around;
  height: 3em;
}

.input {
  flex-basis: 90%;
  border: 1px solid var(--clr-borders);
  text-align: center;
  font-size: font-normal;
  color: var(--clr-fonts);
  background-color: var(--clr-inputBg);
  transition: all timer-hover ease-in-out;
}

.input:focus {
  border: 1.5px solid var(--clr-hover);
  border-radius: border-radius;
}

.input::placeholder {
  color: var(--clr-fonts);
  opacity: 1;
  transition: all timer-hover ease-in-out;
}

.input:focus::placeholder {
  color: transparent;
}
.button {
  border: 1px solid var(--clr-borders);
  width: 1.5em;
  height: 1.5em;
  color: var(--clr-fonts);
  font-size: font-normal;
  transition: all timer-hover ease-in-out;
}

.button:hover {
  border-radius: border-radius;
  background-color: var(--clr-hover);
  color: var(--clr-hoverFont);
}
