@value clr-light-highlight, clr-light-hover, clr-light-hoverFont from "../../common/color.css";
@value weight-bold, timer-hover from "../../common/size.css";

.todo {
  display: flex;
  justify-content: space-between;
  margin: 0.25em 0;
  padding: 0.5em;
  transition: all timer-hover ease-in;
}

.todo:hover.todo {
  background-color: clr-light-hover;
}

.title {
  font-weight: weight-bold;
  transition: all timer-hover ease-in;
}
.todo:hover .title {
  color: clr-light-highlight;
}

.delete {
  transition: all timer-hover ease-in;
}

.delete:hover {
  transform: scale(1.1);
  color: clr-light-hoverFont;
}
