@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
@value clr-light-bg, clr-light-fonts, clr-dark-bg, clr-dark-fonts from "./common/color.css";
@value weight-normal from "./common/size.css";

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 56em;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: clr-dark-bg;
  color: clr-dark-fonts;
  font-weight: weight-normal;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none;
  padding: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  padding: 0;
  outline: none;
}

@media screen and (prefers-color-scheme: light) {
  * {
    box-sizing: border-box;
  }

  body {
    margin: auto;
    max-width: 56em;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: clr-light-bg;
    color: clr-light-fonts;
    font-weight: weight-normal;
    text-align: center;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  button {
    border: none;
    padding: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  input {
    border: none;
    padding: 0;
    outline: none;
  }
}
