:root {
  /* Light Theme */
  --clr-bg: #e3fdfd;
  --clr-fonts: #0a666b;
  --clr-borders: #71c9ce;
  --clr-hoverFont: #fdfdfd;
  --clr-hover: #56dbe8;
  --clr-buttons: #a6e3e9;
  --clr-highlight: #ff33a3;
  --clr-inputBg: #ffffff;
}

[data-theme="dark"] {
  --clr-bg: #334257;
  --clr-fonts: #eeeeee;
  --clr-borders: #548ca8;
  --clr-hoverFont: #000000;
  --clr-hover: #e4b715;
  --clr-buttons: #476072;
  --clr-highlight: #ff33a3;
  --clr-inputBg: #3a3a3a;
}
